[submodule "common"]
	path = common
	url = git://github.com/MOBICOM/common.git
[submodule "components/iris/modules"]
	path = components/iris/modules
	url = git://github.com/andrepuschmann/iris_modules.git
[submodule "components/iris/core"]
	path = components/iris/core
	url = git://github.com/andrepuschmann/iris_core.git
